.panel {
    height: 250px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    color: black;
    background: white;
  }
  
  .panel-heading {
    margin-bottom: 10px;
  }
  
  .demo-content{
          padding: 15px;
          font-size: 14px;
          min-height: 300px;
          margin-bottom: 10px;
  }